body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    gap: 30px;
    width: 90%;
    align-items: flex-start;
    flex-direction: row;
}

.main-content, .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.main-content {
    flex: 0 0 60%;
}

.item {
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-count {
    display: flex;
    gap: 5px;
}

.bought-button-cell {
    flex: 0 1 30%;
    display: flex;
    justify-content: flex-end;
}

.header-input-container {
    display: flex;
    position: relative;
}

.product-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: 1px solid #a9a9a9;
    border-radius: 4px 0 0 4px;
}

.pushable {
    display: inline-block;
    padding: 0;
    border: none;
    margin-top: 6px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.add-button .front {
    border-radius: 0 4px 4px 0;
    background: #007bff;
    position: relative;
}

.status-button .front {
    border-radius: 4px;
    background: #dadada;
    padding: 10px;
}

.remove-button .front {
    border-radius: 4px;
    background: #f44336;
    padding: 9px 17px;
}

.quantity-button.decrement .front {
    border-radius: 50%;
    background: #f44336;
    padding: 9px 18px;
}

.unpushable.decrement .front{
    background-color: #e59a9a;
}

.quantity-button.increment .front {
    border-radius: 50%;
    background: #4caf50;
    padding: 9px 16px;
}

.front {
    display: block;
    padding: 9px 26px;
    font-size: 1.12rem;
    transform: translateY(-6px);
    transition: transform 0.1s ease-in-out;
}

.pushable:active .front {
    transform: translateY(-2px);
}

.add-button {
    background: #0056b3;
    color: white;
}

.quantity-button {
    border: none;
    border-radius: 50%;
    font-size: 1.12em;
}

.decrement {
    background-color: #d32f2f;
    color: #fff;
}

.unpushable {
    background-color: #c78888;
    cursor: default;
    display: inline-block;
    padding: 0;
    border: none;
    margin-top: 6px;
}

.increment {
    background-color: #388e3c;
    color: #fff;
}

.status-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.12em;
    background-color: #b0b0b0;
}

.remove-button {
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.12em;
    margin-left: 5px;
}

.product-input-inline {
    width: 100%;
    padding: 5px;
    font-size: 1.12em;
    border: none;
}

.product-input-inline:disabled{
    color: black;
    background-color: transparent;
}

.product-input-inline:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
    border: 1px solid #007bff;
}

.count {
    background-color: #ff6b00;
    color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-left: 5px;
    text-align: center;
    line-height: 28px;
}

.product-container {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

.product-container.modified {
    padding: 13px 17px;
    border-radius: 5px;
}

.product-list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.upperscore {
    border-top: 1px solid #ddd;
}

.padded {
    padding: 20px;
}

.strike {
    text-decoration: line-through;
}

.large-header {
    font-weight: bold;
    font-size: 1.8em;
}

.badge {
    position: fixed;
    bottom: 0;
    right: 30px;
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: height 0.5s ease, background-color 0.5s ease;
    overflow: hidden;
    width: 100px;
    height: 30px;
    text-align: center;
}

.badge .hover-text {
    display: none;
    font-size: 0.8rem;
    margin-top: 5px;
}

.badge:hover {
    height: 50px;
    background-color: #2c003e;
}

.badge:hover .hover-text {
    display: block;
}

.badge:hover .main-text {
    margin-bottom: 5px;
}

@media print {
    .badge {
        background-color: white;
        color: black;
        border: 2px solid #000000;
        border-bottom: none;
    }
    .badge .main-text {
        display: none;
    }
    .badge .hover-text {
        display: block;
        color: #000000;
    }
}

@media (max-width: 900px) {
    .container {
        gap: 10px;
        width: fit-content;
    }
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }
    .main-content, .sidebar {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

button[data-tooltip] {
    position: relative;
}

button[data-tooltip]::after {
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #800080;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 0;
    transform: translateX(-50%) translateY(10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

button[data-tooltip]:hover::after{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}